@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tektur&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-family: 'Tektur', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  position: fixed;
  top: 0;
  /* left: 0; */
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(20px); */
  background-color: black;
  z-index: 1000;
}

.logo img {
  width: 120px;
  height: 80px;
  margin-left: 30px;
}

.header-title {
  color: white;
  margin: 0;
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
  padding-right: 55px;
  letter-spacing: 3px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 30px;
}

.item {
  width: 100%;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: calc(50% + 220px);
  }

  &:nth-child(5) {
    left: calc(50% + 440px);
  }

  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Tektur', sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 1rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .content {
    & .title {
      font-size: 1rem;
    }

    & .description {
      font-size: 0.7rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: calc(50% + 170px);
      /* display: none; */
    }

    &:nth-child(5) {
      left: calc(50% + 340px);
      /* display: none; */
    }

    &:nth-child(6) {
      left: calc(50% + 510px);
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }

    & .description {
      font-size: 0.65rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 49%;
    }

    &:nth-child(4) {
      /* left: calc(50% + 140px); */
      display: none;
    }

    &:nth-child(5) {
      /* left: calc(50% + 280px); */
      display: none;
    }

    &:nth-child(6) {
      /* left: calc(50% + 420px); */
      display: none;
    }
  }
}

.item {
  position: absolute;
  width: 196px;
  height: 300px;
  list-style-type: none;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.custom-button {
  padding: 2px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-block;
  color: #282936;
  text-align: center;
}

.custom-button:hover,
.custom-button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.custom-button:active {
  transform: translateY(10px);
  transition: 100ms;
}
